a.logo {
  display: block;
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.logo img {
  width: 100%;
  transition: all 0.4s ease;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.front .logo img,
.logo:hover img {
  width: 100%;
  -webkit-filter: none;
  filter: none;
}

@media only screen and (min-width: 36rem) {
  .plant .logo img,
  .plant .logo:hover img {
    width: 26rem;
    opacity: 0;
    height: 0;
  }

  .plant a.logo {
    margin-top: 0;
    margin-bottom: 0;
  }
  .logo img {
    width: 100%;
    opacity: 1;
    height: auto;
  }
}
