@import './normalize.css';
@import './font.css';
@import './layout.css';

html,
body,
input {
  font-family: Domine, Georgia, serif;
  color: #333;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
}

*[aria-hidden='false'] {
  display: none;
}

.default a {
  text-decoration: underline;
  padding: 0;
}

blockquote {
  color: #888;
  margin-left: 2rem;
}

h2 {
  margin-top: 2rem;
  font-size: 1.1rem;
}
h2 i {
  font-weight: normal;
}

.front h2 {
  margin-top: 4rem;
  margin-bottom: 0rem;
}

h3 {
  margin-top: 3rem;
  font-size: 1rem;
}

@media only screen and (min-width: 36rem) {
}

@media only screen and (min-width: 55rem) {
}

@media only screen and (min-width: 75rem) {
}

/* landing start page homepage */

.img-hover div {
  margin-top: 0;
  margin-left: 0;
}

a.img-hover {
  padding: 0;
}

.more-options a {
  text-decoration: underline;
  display: block;
}

@import './share.css';
@import './logo.css';
@import './links_buttons.css';
@import './menu.css';
@import './plant.css';
@import './plantslist.css';
