/* #back-link {
  position: absolute;
  top: 1rem;
} */

/* PLANT TOP */
/* PLANT TOP */
/* PLANT TOP */

/* .plant main {
  margin-top: -8rem;
} */

.plant h1 {
  text-align: center;
  margin-top: -0.5rem;
}

.no-js .logo img {
  width: 100%;
}

.logo:hover a img {
  -webkit-filter: none;
  filter: none;
}

.logo a img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

@media only screen and (min-width: 44rem) {
  .logo a img {
    width: 60%;
  }
}

figure {
  /* display: flex; */
  /* text-align: center; */
  /* margin: 2rem 0 1rem 0; */
}

/* figure > div {
  flex-basis: 27%;
  margin-right: 1rem;
  margin-left: -1rem;
} */

img.main {
  display: block;
  height: 14rem;
  width: 14rem;
  margin: 0 auto;
  /* transition: all 0.4s ease 0s; */
}

.plant blockquote {
  color: #333;
  margin: 1rem 0;
  text-align: center;
}

blockquote::before {
  content: '» ';
  color: #aaa;
}
blockquote::after {
  content: '«';
  color: #aaa;
  margin-left: 0.2rem;
  position: absolute;
}

.plant #results {
  display: flex;
}

.plant #results > div {
  display: block;
  flex-basis: 50%;
}

.plant .gray {
  color: #777;
  text-align: center;
}

.good,
.bad {
  margin-top: -0.5rem;
}

.good li > a:before,
.bad li > a:before {
  content: '⬤';
  color: #cc9999;
  margin-left: -0.3rem;
  padding-right: 0.3rem;
}

.good li > a:before {
  color: #9c9;
}

.good a,
.bad a {
  color: #333;
}

#results li > a:after {
  content: ' \25BE';
  opacity: 0.4;
}

#results li > a.note:after {
  opacity: 1;
}

#results li > a:hover {
  text-decoration: none;
}

#results li > a:hover:before {
  opacity: 0.7;
}

#results li > div {
  display: none;
  font-size: 0.85rem;

  margin-top: 0.5rem;
  margin-bottom: 1.3rem;
  cursor: pointer;
}

.no-js #results li > div {
  display: block;
}

#results li > div > span {
  display: block;
}

#results li > div img {
  width: 7rem;
  height: 7rem;
  margin-right: 5rem;
}

#results li > div a span {
  background-color: rgb(255, 238, 238);
  color: rgb(51, 51, 51);

  display: inline-block;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.08rem 0.5rem 0.02rem;
  transition: all 0.4s ease 0s;

  border: 0.1rem solid transparent;
}

#results li > div a {
  outline: none;
}

#results li > div a:focus span {
  outline: none;
  text-decoration: none;
  border: 0.1rem dashed #c99;
  background-color: rgb(255, 206, 206);
}

#results li > div a:active span {
  border-color: transparent;
}

#results li > div a:hover span {
  border-color: transparent;
  background-color: rgb(255, 206, 206);
}
